* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 300;
}


footer,
.navbar nav {
    height: 3.5rem;
}

footer,
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar nav ul li {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.navbar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(230, 218, 218);
    margin-left: 1rem;
}

.navbar nav ul li a:hover {
    color: rgb(15, 15, 16);
}

.navbar nav ul li img {
    height: 3.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    margin-top: 1.2rem;
}

footer {
    background-color: #15644c;
    position: sticky;
    bottom: 0;
    color: #ffffff; 
}

footer p {
    text-align: center;
}

/* estilos para los planes 
/* styles.css */

.plan {
    background-color: #FFFFFF;
    border: 2px solid #15644C;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 500px;
}


.plan ul li {
    font-weight: bold;
    margin-bottom: 10px;
}

/* estilos carro de compras

/* styles.css */
#cart {
    margin-left:10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
}

#cart h3 {
    margin-bottom: 10px;
}

#cart-list {
    list-style-type: none;
    padding: 0;
}

#total-price {
    font-weight: bold;
    margin-top: 10px;
}

/* estilos boton */

/* Establecer la altura de cada plan */
.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    margin: 1%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botón de "Seleccionar Plan" */
.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #17a563;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.add-to-cart-btn:hover {
    background-color: #e0ede1;
}

/* Contenedor de los planes */
.contenedorDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


img {
    width: 100%;
    height: 40%;
}

/* estilo para formulario */


.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.formulario input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formulario input[type="submit"]:hover {
    background-color: #45a049;
}


/*consultas*/

/* Estilos básicos para el formulario */
.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
