* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 300;
}


footer,
.navbar nav {
    height: 3.5rem;
}

footer,
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar nav ul li {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.navbar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(230, 218, 218);
    margin-left: 1rem;
}

.navbar nav ul li a:hover {
    color: rgb(15, 15, 16);
}

.navbar nav ul li img {
    height: 3.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    margin-top: 1.2rem;
}

footer {
    background-color: #15644c;
    position: sticky;
    bottom: 0;
    color: #ffffff; 
}

footer p {
    text-align: center;
}

/* estilos para los planes 
/* styles.css */

.plan {
    flex-direction: column;
    background-color: #FFFFFF;
    border: 2px solid #15644C;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 300px;
    flex: 1 1 300px;
}

.plan ul li {
    font-weight: bold;
    margin-bottom: 10px;
}

/* estilos carro de compras

/* styles.css */
#cart {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
}

#cart h3 {
    margin-bottom: 10px;
}

#cart-list {
    list-style-type: none;
    padding: 0;
}

#total-price {
    font-weight: bold;
    margin-top: 10px;
}

/* estilos boton */

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #17a563; /* Cambiar el color de fondo del botón */
    color: #fff; /* Cambiar el color del texto del botón a blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #3b259e; /* Cambiar el color de fondo cuando se pasa el mouse */
}
